main {
  height: auto;
}

.contenedor-presentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: min(900px, 90%);

  picture {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
}

.imagen-familia {
  width: min(90%, 600px);
  max-height: 400px;
  margin-top: 2rem;
}

.container-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.container-mejores-momentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  gap: 1rem;
}

.container-test {
  text-align: center;
}

.rotate-svg {
  margin: 6rem 0 2rem 0;
  width: min(75vw, 400px);
  height: min(65vw, 320px);
  animation: rotateAnimation 10s linear infinite; 

  image {
  width: min(75vw, 400px);
  height: min(65vw, 320px);
  }
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(360deg);
  }
}

