@import "variables";

.main-qr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  > div {
    max-width: 90%;
  }
}

canvas {
  display: block;
  max-width: 90%;
  width: 250px !important;
  height: 230px !important;
  margin-top: 2rem;
}

#qr-button {
  margin-top: 1rem;
  background-color: $link-color;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  font-size: large;
}

#qr-button:hover {
  background-color: $main-title-color;
}

#input-url {
  height: 32px;
  width: 250px;
}

@media screen and (min-width: 768px) {
  canvas {
    display: block;
    max-width: 90%;
    width: 350px !important;
    height: 320px !important;
  }
}
