@import 'variables';

body {
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  background-color: $background-color;
  color: $main-title-color;
  margin: 0;
}

h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 1rem;
}

header li a.active {
  text-decoration: underline 2px wavy $main-title-color;;  
}
